<ion-header>
  <ion-navbar>
    <ion-title>Browse Your boxes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="text-center">
    <button
        ion-button
        small
        (click)="openAddBoxModal()"
    >
      <ion-icon name="ios-add-circle-outline"></ion-icon> &nbsp; Add new box
    </button>
  </div>
  <ion-list>
    <ng-container *ngFor="let box of boxes">
      <ion-item
          (click)="openBoxDetailsModal(box)"
      >
        <ion-thumbnail item-start>
          <img [src]="box.photo || 'assets/imgs/no-image.jpg'">
        </ion-thumbnail>
        <h2>{{box && box.name}}</h2>
        <p>Box description</p>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
