<ion-tabs [selectedIndex]="1" color="dark">
  <ion-tab [root]="tab1Root" tabTitle="Browse" tabIcon="ios-albums"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Scan" tabIcon="md-qr-scanner"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings" tabIcon="ios-cog"></ion-tab>
</ion-tabs>
