<ion-header>
  <ion-navbar>
    <ion-title>
      Scan Your box
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="text-center">
  <ion-card>
    <img src="assets/imgs/scan-info.jpg" width="100%">
    <ion-card-content>
      <ion-card-title>Scan QR on Your box to peek inside</ion-card-title>
      <p>or scan new QR code to add new box</p>
      <button
          ion-button
          full
          (click)="openScanner()"
          class="mt-20"
      >
        SCAN
      </button>
    </ion-card-content>

  </ion-card>

</ion-content>
