<ion-header>

  <ion-navbar>
    <ion-title>{{box && box.name}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()">
        Close
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="goToEditBox(box)">
        Edit box
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card *ngIf="box" class="text-center">
    <ion-card-content>
      <ion-card-title>{{box.name}}</ion-card-title>
      <p>{{box.location}}</p>
    </ion-card-content>
  </ion-card>

  <div *ngIf="createBoxItemMode" class="text-center">
    <create-box-item
        (onCreate)="handleBoxItemCreated($event)"
    ></create-box-item>
    <button
        ion-button
        small
        color="light"
        (click)="createBoxItemMode = false"
    >
      Cancel
    </button>
  </div>


  <ion-list>
    <ion-item
        class="text-center"
        *ngIf="!createBoxItemMode"
    >
      <button
          ion-button
          small
          (click)="createBoxItemMode = true"
      >
        <ion-icon name="ios-add-circle-outline"></ion-icon> &nbsp; Add new item
      </button>
    </ion-item>
    <ng-container *ngFor="let item of box.items">
      <ion-item
          (click)="openItemDetails(item)"
      >
        <ion-thumbnail item-start>
          <img [src]="(item.photo | safe:'resourceUrl')|| 'assets/imgs/no-image.jpg'">
        </ion-thumbnail>
        <p>Item name: <strong>{{item.name || 'unnamed'}}</strong></p>
        <p>Quantity: <strong>{{item.quantity}}</strong></p>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
