<ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header></ion-list-header>
    <ion-item>
      <ion-icon name="md-qr-scanner" item-start></ion-icon>
      Generate new QR codes (in progress)
    </ion-item>
  </ion-list>
</ion-content>
