create-box-item {
  display: block;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  border: solid 3px #d81b60;

  ion-item {
    background: transparent !important;
    padding-right: 16px !important;

    &:last-child {
      .item-inner {
        border-bottom: none !important;
      }

      input {
        text-align: left;
      }
    }
  }
}
