<p class="text-center">Create box item</p>
<ion-item>
  <ion-label>Item name</ion-label>
  <ion-input placeholder="item name"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Item quantity</ion-label>
  <ion-input [(ngModel)]="itemQuantity" type="number" placeholder="quantity"></ion-input>
</ion-item>
<ion-item class="text-center">
  <button
      *ngIf="!itemPhoto"
      ion-button
      color="secondary"
      (click)="takePicture()"
  >
    Take item picture
  </button>
  <img
      (click)="takePicture()"
      *ngIf="itemPhoto"
      [src]="itemPhoto | safe: 'resourceUrl'"
  >
</ion-item>
<ion-item class="text-center">
  <button full (click)="storeItem()" ion-button>Save item</button>
</ion-item>
