.text-center {
  text-align: center;
}

//ion-tabs {
//  .tabbar {
//    width: calc(100% - 60px) !important;
//  }
//
//  tab-highlight {
//    display: none !important;
//  }
//
//  .tab-button {
//    opacity: 1;
//    border-bottom: solid 0px rgba(0, 0, 0, 0.9);
//    border-top: 1px #333 solid;
//    border-right: 1px #333 solid;
//    height: 60px;
//
//    .tab-button-text {
//      font-family: $secondary-font;
//      font-weight: bold;
//    }
//    &[aria-selected="true"] {
//      border-bottom: solid 5px color($colors, primary);
//    }
//
//    .tab-button-text {
//      transform: scale(0.85) !important;
//
//    }
//
//    &#tab-t0-3, &#tab-t1-3, &#tab-t2-3, &#tab-t3-3 {
//      max-width: 50px;
//      border-right: none !important;
//      position: relative;
//
//      .tab-button-text {
//        //font-family: $icon-font !important;
//        font-size: 20px;
//      }
//    }
//    #menuBtnOverlay {
//      width: 100%;
//      height: 100%;
//      background-color: #000;
//    }
//  }
//  a {
//
//    .tab-button-text {
//      color: #fff;
//      font-size: 11px;
//      font-weight: bold;
//      font-family: $secondary-font;
//    }
//  }
//
//  .tabbar {
//    background: rgba(0, 0, 0, 0.9) !important;
//  }
//}
