// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//w
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/global";

ion-content {
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #d8d8d8 100%);
  //background: rgb(238,174,202);
  //background: linear-gradient(133deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.mt-20 {
  margin-top: 20px;
}

ion-backdrop {
  opacity: 0.2 !important;
}

.add-item-popover {
  ion-item {
    padding: 0 16px 0 16px;
  }
}
