<ion-header>
  <ion-navbar>
    <ion-title>
      <ng-container *ngIf="!editMode">Create new box</ng-container>
      <ng-container *ngIf="editMode">Edit box</ng-container>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form
      [formGroup]="createBoxForm"
      (ngSubmit)="storeBox()"
      novalidate="true"
  >
    <ion-card>

      <ion-item [class.error]="createBoxForm.get('boxId').invalid && submitted">
        <ion-label>Box Id</ion-label>
        <input
            type="hidden"
            formControlName="boxId"
        >
        <ion-label>
        <span *ngIf="createBoxForm.get('boxId').value">
          {{createBoxForm.get('boxId').value}}
        </span>
          <button
              *ngIf="!createBoxForm.get('boxId').value"
              small
              type="button"
              ion-button
              (click)="assignQRCodeId()"
          >
            Scan QR Code
          </button>
        </ion-label>
      </ion-item>
      <ion-item [class.error]="createBoxForm.get('boxName').invalid && submitted">
        <ion-label>Box name</ion-label>
        <ion-input
            formControlName="boxName"
            type="text"
            placeholder="Box name"
        ></ion-input>
      </ion-item>
      <ion-item [class.error]="createBoxForm.get('boxLocation').invalid && submitted">
        <ion-label>Box location</ion-label>
        <ion-select
            placeholder="Box location"
            (ionChange)="onChange($event)"
            interface="popover"
            formControlName="boxLocation"
            type="text"
        >
          <ion-option
              *ngFor="let location of locations"
              [value]="location">{{location}}
          </ion-option>
          <ion-option
              value="add-new"
          >
            Add new location
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-card>

    <div class="text-center">
      <button
          type="submit"
          ion-button
          full
      >
        <ng-container *ngIf="!editMode">Save box</ng-container>
        <ng-container *ngIf="editMode">Update box details</ng-container>
      </button>
    </div>
  </form>
</ion-content>
